@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Damion&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-family: "Crimson Pro", serif;
  font-family: "Damion", cursive;
}

:root {
  --text_1-color: #ffffff;
  --text_2-color: #bbbbbb;
  --text_3-color: #cf9455;
  --text-color: #000000;
  --text_4-color: #888888;
  --text_5-color: #666666;
  --text_6-color: #cccccc;
  --text_12-color: #333a4d;
  --text_14-color: #333a4d;

  --bg_7-color: #cf9455;
  --hover-bg-color: #cf9455;
  --bg_8-color: #282e3f;
  --bg_9-color: #fff;
  --bg_10-color: #000;
  --bg_11-color: #d6d6d6;
  --bg_13-color: #aaaaaa;
  --bg_15-color: #333a4d;
  --bg_16-color: #292f40;
  --bg_17-color: #F8F8F8;

  /* BORDER color  */
  --border-color: #e7e7e7;
}

.container {
  max-width: 1235px;
  padding: 0 30px;
  margin: auto;
}

body {
  background-color: var(--bg_9-color);
  height: 100vh;
}

/* HEADER STRAT  */

.section-01 {
  padding-right: 125px;
  background-color: var(--bg_8-color);
  min-height: 110px;
}

.section-01 .container {
  padding: 0 0;
}

header {
  background-color: #282e3f67;
  backdrop-filter: blur(10px);
  backdrop-filter: drop-shadow(4px 4px 10px blue);

  min-width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 100;
  padding: 30px 58px;
}

.logo {
  display: flex;
  gap: 15px;
}

.logo span h6 {
  font-size: 10px;
  line-height: 1.3em;
  color: var(--text_2-color);
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: var(--text_1-color);
  font-size: 15px;
  line-height: 1.422em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  transition: 0.3s all;
}

nav a:hover {
  color: var(--text_3-color);
}

input {
  display: none;
}

.buttom {
  margin-left: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttom {
  padding: 10px 18px;
  background-color: var(--bg_7-color);
  color: var(--text_1-color);
  font-family: "Crimson Pro", serif;
  font-weight: 400;
  transition: 0.5s all ease;
}

.buttom:hover {
  background-color: transparent;
}

.buttom i {
  padding-right: 13px;
}

nav .src i {
  font-size: 28px;
}

/* HEADER END  */

.section-02 {
  background: url(hero/giammarco-boscaro-zeH-ljawHtg-unsplash\ 1.jpg);
  background-repeat: no-repeat;
  padding-top: 106px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
}

.hero-heading {
  max-width: 598px;
  min-height: 288px;
}

.hero-heading h1 {
  font-size: 70px;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text_1-color);
}

.hero-heading h6 {
  font-size: 14px;
  line-height: 0.7142857142857143em;
  letter-spacing: 1.6px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  color: var(--text_1-color);
  padding-bottom: 34px;
}

.contact {
  display: flex;
  gap: 30px;
}

.number {
  display: flex;
  align-items: center;
}

.PRACTICE {
  padding: 21px 47px;

  background-color: var(--bg_7-color);
  display: flex;
  align-items: center;

  transition: 0.5s all ease;
}

.PRACTICE:hover {
  background-color: transparent;
}

.PRACTICE {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.3125em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_1-color);
}

.number {
  display: flex;
  gap: 15px;
}

.number i {
  font-size: 28px;
  color: var(--text_1-color);
  background: transparent;
}

.number span p {
  font-size: 14px;
  line-height: 1.2857142857142858em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_1-color);
}

.number span a {
  font-size: 20px;
  line-height: 1.3em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_1-color);
  text-decoration: none;
}

.booking_meta {
  min-width: 370px;
  min-height: 494px;
  background-color: var(--bg_9-color);
  border: 1px solid var(--bg_11-color);
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
}

.main h2 {
  font-size: 22px;
  line-height: 1.3181818181818181em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_14-color);
  text-align: center;
  padding-top: 44px;
  padding-bottom: 13px;
}

.main p {
  font-size: 14px;
  line-height: 1.5999999999999999em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_4-color);
  text-align: center;
  padding-bottom: 28px;
}

.card_metas {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.card_meta {
  width: 310px;
  min-height: 50px;

  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
}

.card_meta a {
  text-decoration: none;
  padding-left: 20px;
  display: flex;
  gap: 15px;
}

.card_meta a {
  font-size: 14px;
  line-height: 1.2857142857142858em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--bg_13-color);
}

.meta_buttom {
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.meta_buttom a {
  font-size: 16px;
  line-height: 1.3125em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_1-color);

  text-decoration: none;
  padding: 16px 91px;
  background: var(--bg_7-color);
  transition: 0.5s all ease;
}

.meta_buttom a:hover {
  background-color: transparent;
  border: 1px solid var(--text-color);
  color: var(--bg_10-color);
}

/* .......section-02 End  */

/* SECTION-03 STRAT  */

.section-03 {
  background-color: var(--bg_9-color);
  min-height: 710px;
}

.law_content {
  min-height: 570px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 58px;
}

.law_image {
  max-width: 400px;
  min-height: 620px;

  position: relative;
}

.text {
  min-width: 240px;
  min-height: 150px;
  background-color: var(--bg_15-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px solid var(--bg_7-color);
  position: absolute;
  bottom: 9px;
  right: -37px;
}

.text span h1 {
  font-size: 50px;
  line-height: 1.3em;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: var(--bg_7-color);
}

.text span h6 {
  font-size: 16px;
  line-height: 1.2857142857142858em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_1-color);
}

.text p {
  font-size: 16px;
  line-height: 1.433125em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_1-color);
}

/* <...........> */

.about {
  max-width: 401px;
  min-height: 326px;

  margin-top: 78px;
}

.about h6 {
  font-size: 14px;
  line-height: 3.5714285714285716em;
  letter-spacing: 2.4px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: var(--text_3-color);
}

.about h2 {
  font-size: 60px;
  line-height: 0.8333333333333334em;
  font-family: "Crimson Pro", serif;
  font-weight: 600;

  color: var(--text-color);
}

.p_one {
  font-size: 16px;
  line-height: 1.3125em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--bg_13-color);
  padding-bottom: 35px;
}

P {
  font-size: 16px;
  line-height: 1.3125em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_5-color);
}

.text_ceo {
  display: flex;
  align-items: center;
  gap: 49px;
  padding-top: 42px;
}

.text_ceo h4 {
  font-size: 30px;
  line-height: 1.6666666666666667em;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text-color);
}

.text_ceo p {
  font-size: 16px;
  line-height: 3.125em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--bg_7-color);
}

.text_ceo h5 {
  font-size: 30px;
  line-height: 1.6666666666666667em;
  font-family: "Damion", cursive;
  font-weight: 500;
  color: var(--bg_10-color);
}

/* <..............> */

.left_side_img {
  margin-top: 30px;
}

.calender {
  padding-bottom: 30px;
}

.Meeting {
  max-width: 300px;
  min-height: 188px;
  background-color: var(--bg_16-color);
  display: flex;
  padding-left: 14px;
  flex-direction: column;
}

.Meeting span {
  padding-top: 21px;
  display: flex;
  gap: 25px;
}

.Meeting span h6 {
  font-size: 16px;
  line-height: 1.3125em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_1-color);
}

.Meeting span p {
  font-size: 12px;
  line-height: 1.3333333333333333em;
  color: var(--text_6-color);
  padding-bottom: 15px;
}

a {
  color: var(--text_1-color);
  font-size: 14px;
  line-height: 1.8em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.meating_btn {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 23px;
}

.meating_btn a {
  font-size: 13px;
  line-height: 1.3076923076923077em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  padding: 6px 19px;
  background-color: var(--bg_7-color);
  transition: all 0.5s ease;
}

.meating_btn .shedul a {
  padding: 6px 19px;
  color: var(--bg_15-color);
  background-color: var(--bg_9-color);
}

.meating_btn a:hover {
  background: transparent;
}

.meating_btn .shedul a:hover {
  color: var(--bg_9-color);
}

/* SECTION-03 END  */

/* SECTION-04 STRAT  */

.section-04 {
  background-image: url(section-4/BG\ \(2\).jpg);
  min-height: 366px;
  background-repeat: no-repeat;

  padding-top: 100px;

}




.section-04_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 170px;
}

.section-04_card h2 {
  font-size: 50px;
  line-height: 1.12em;
  font-family: "Crimson Pro", serif;
  font-weight: 700;
  color: var(--text_1-color);
  padding-top: 14px;
  padding-bottom: 4px;

}

.section-04_card p {
  font-size: 18px;
  line-height: 1.2777777777777777em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_1-color);
}


/* SECTION-5 STRAT  */
.section-05 {
  background-color: var(--bg_9-color);
  min-height: 1094px;
  padding-top: 90px;
}

.practice_heading h6 {
  font-size: 14px;
  line-height: 1.2857142857142858em;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: var(--text_3-color);
  text-align: center;

}


.practice_heading h2 {
  font-size: 60px;
  line-height: 1.0em;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  text-align: center;
  padding-bottom: 34px;
}


.services {


  display: flex;
  padding-top: 52px;
}

.services_card {
  min-width: 234px;
  min-height: 200px;
  border: var(--bg_11-color);
  background-color: var(--bg_17-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .50s ease;

}

.services_card:hover {
  background-color: var(--bg_15-color);

}

.services_card h3 {

  font-size: 24px;
  line-height: 1.125em;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text-color);
  padding-top: 14px;
}




.about_content {
  display: flex;
  gap: 64px;
}




.Criminal_about {
  max-width: 502px;
  min-height: 455px;

}



.Criminal_picture {


  position: relative;
}

.secend_img {
  position: absolute;
  left: -42px;
  padding-top: 9px;
  top: 50%;
  background: #FFF;
  width: 110px;
  height: 116px;
}


.about_content {
  padding-top: 52px;

}

.Criminal_about h6 {
  font-size: 40px;
  line-height: 1.1em;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--bg_10-color);
}

.Criminal_about ul {
  padding-top: 27px;
  padding-bottom: 39px;
}

.Criminal_about p {
  font-size: 16px;
  line-height: 1.3757584em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_5-color);
}





.Criminal_about ul li {
  font-size: 16px;
  line-height: 1.3125em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--bg_10-color);
  padding-top: 9px;

}

.btn_about a {
  color: var(--text_1-color);
  background-color: var(--bg_7-color);
  padding: 16px 32px;
  text-decoration: none;
  transition: .50s all ease;
}

.btn_about a:hover {
  background-color: var(--bg_15-color);
}

/* SECTION-05   END  */

/* SECTION-06 STRAT  */

.section-06 {
  min-height: 570px;
  background-color: var(--bg_9-color);
  padding-top: 96px;
  overflow: hidden;
}






.textimonial_heading {
  text-align: center;


  background-color: var(--bg_17-color);

}



.textimonial_heading h6 {
  font-size: 14px;
  line-height: 1.2857142857142858em;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: var(--text_3-color);

}

.textimonial_heading h2 {
  font-size: 60px;
  line-height: 1.2857142857142858em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text-color);

}

.textimonial_heading p {
  padding-bottom: 30px;
}

.textimonial_btn a {
  color: var(--text_1-color);
  background-color: var(--bg_7-color);
  padding: 16px 18px;
}







.textimonial_card {
  display: flex;
  gap: 50px;
}

.content_text {
  max-width: 276px;
  min-height: 371px;
  padding-top: 20px;

}

.testimonial_silder_wrapper {
  width: 768px;


}


.content_text img {
  padding-bottom: 23px;
}



.content_text h4 {
  font-size: 24px;
  line-height: 0.7999999999999999em;
  font-family: "Crimson Pro", serif;
  font-style: italic;
  font-weight: 600;
}


.content_text h6 {
  font-size: 18px;
  line-height: 1.0666666666666667em;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  padding-top: 28px;

}

.content_text p {
  font-size: 13px;
  line-height: 1.0666666666666667em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_4-color);
  padding-top: 9px;
  padding-bottom: 20px;

}





.icon a {
  color: #000;
  padding: 16px 19px;
  background-color: var(--bg_7-color);
}

/* SECTION-06 end  */

.section-07 {
  min-height: 1094px;
  background-color: var(--bg_9-color);
}

.content_07 {
  padding-top: 100px;
}

.sect_07_heading h6 {
  font-size: 14px;
  line-height: 1.2857142857142858em;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: var(--text_3-color);
  text-align: center;
}

.sect_07_heading h2 {
  font-size: 60px;
  line-height: 1.2857142857142858em;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
  padding-bottom: 50px;
}



.text_icon a {
  color: #000;
}

.sect_07_main_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}


.sect_07_card {
  position: relative;
 

}

.text_icon {
  position: absolute;
  bottom: 24px;
  padding-left: 19px;
  display: flex;
  align-items: center;
  gap: 50px;


}

.text_icon span p {
  font-size: 14px;
  line-height: 1.2857142857142858em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_3-color);
}

.text_icon span h6 {

  font-size: 33px;
  line-height: 1.0285714285714285em;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text_1-color);
}


.text_icon a {
  color: var(--bg_9-color);
  background-color: var(--bg_15-color);
  background: transparent;
  padding: 12.50px 18px;
  border: 1px solid var(--bg_9-color);
  border-radius: 50px;
  transition: .50s ease;

}


.text_icon a:hover {
  background-color: var(--bg_7-color);
  border: none;
}

 




/* SECTION-07 END  */
/* SECTION-08 STRAT  */
.section-08 {
  min-height: 810px;
  padding-top: 118px;
  overflow: hidden;
}

.attor_heading h6 {
  font-size: 14px;
  line-height: 1.2857142857142858em;
  letter-spacing: 15%;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: var(--text_3-color);
  text-align: center;
}

.attor_heading h3 {
  font-size: 60px;
  line-height: 110%;

  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
}



.attor_cards {
  display: flex;
  gap: 30px;
  position: relative;
  padding-top: 50px;
}

.bio {
  position: absolute;
  bottom: 22px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bio h2 {
  font-size: 25px;
  line-height: 110%;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text_1-color);
}

.bio p {
  font-size: 14px;
  line-height: 110%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_3-color);
  padding-bottom: 28px;
}






.socile-icon {
  background-color: var(--bg_7-color);

  padding: 7.50px 28.5px;
  display: flex;
  gap: 20px;

}



/* SECTION-08 END  */


/* SECTION-09 STRAT  */

.section-09 {
  min-height: 794px;
  background-color: var(--bg_9-color);
}

.Article_content {
  padding-top: 96px;
}

.article_main {
  padding-top: 37px;
}


.article_heading h3 {
  font-size: 14px;
  line-height: 1.2857142857142858em;
  letter-spacing: 15%;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: var(--text_3-color);
  text-align: center;
}

.article_heading h6 {
  font-size: 60px;
  line-height: 110%;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;

}




.article_main {
  display: flex;
  gap: 30px;
}

.article_card p {
  font-size: 13px;
  line-height: 110%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_3-color);
  padding-top: 13px;
  padding-bottom: 11px;
}

.article_card h5 {
  font-size: 25px;
  line-height: 110%;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text-color);


}

.butttom_artcile {
  display: inline-block;
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

.butttom_artcile a {
  padding: 12.50px 20.50px;
  background-color: var(--bg_7-color);
  color: var(--text_1-color);
  font-size: 14px;
  line-height: 1.8em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;



}





/* SECTION-09 END  */

footer {
  background-image: url(footer/BG.jpg);
  min-height: 516px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 100px;
}

.footer_content {
  
  display: flex;
  gap: 20px;

}






.logo_lawmate {
  display: flex;
  gap: 6px;
  align-items: center;
}

.logo_lawmate h6 {
  font-size: 13px;
  line-height: 1.3em;
  letter-spacing: 3%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_2-color);
  padding-bottom: 21px;
}

.lawmate p {
  font-size: 16px;
  line-height: 130%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_6-color);
  padding-bottom: 25px;

}

.meadia_icon {
  display: flex;
  gap: 20px;
}

.meadia_icon a {
  background-color: var(--bg_10-color);
  background-color: transparent;
  padding: 7.5px 14px;
  border: 1px solid #FFF;
  border-radius: 50%;
  transition: all .50s ease;

}

.meadia_icon a:hover {
  background-color: var(--bg_7-color);
  border: none;
  padding: 7.5px 14px;
}

.lawmate h5 {
  font-size: 20px;
  line-height: 110%;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text_3-color);
  padding-top: 19px;
  padding-bottom: 12px;

}

.Practice_Area {
  padding-left: 52px;
}

.Practice_Area h2 {
  font-size: 30px;
  line-height: 110%;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text_1-color);
}

.Practice_Area ul li {
  font-size: 16px;
  line-height: 74%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_6-color);
  padding-top: 24px;
}

.contact_us {
   
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-left: 39px;
 
  
}

.contact_us h2 {
    font-size: 30px;
  line-height: 110%;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text_1-color);
  padding-right: 57px;
}


.number {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-right: 60px;
}
.contact_us i  {
  font-size: 16px;
  color: var(--bg_7-color);
}

 .contact_us p{
  font-size: 16px;
  line-height: 130%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_6-color);
}




.Email {
  display: flex;
  align-items: center;
  gap: 14px;
}

 

.loct {
  display: flex;
  align-items: center;
  gap: 14px;
}

 .newsletter{
 padding-left: 39px;
 }



.newsletter h2 {
  font-size: 30px;
  line-height: 110%;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text_1-color);
  padding-bottom: 29px;
}
.newsletter p {
  font-size: 16px;
  line-height: 130%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_6-color);
  padding-bottom: 24px;
}

 
.placeholder {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  background-color: #88888860;
  color: var(--bg_17-color);
  
}
.btn {
  margin-top: 15px;
  font-size: 14px;
  line-height: 130%;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color:var(--text_1-color);

  background-color: var(--bg_7-color);
  transition: all .50s ease;
  
}




.newsletter input {
  display: block;
  padding: 12px 48px;
}

 .btn:hover{
  background-color: transparent;
  border: 1px solid var(--bg_11-color);
 }



.border {
  border: 1px solid #FFF;
  
}
.copyright {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}







 


@media (max-width: 1024px) {
  header {
    gap: 6px;
    padding: 37px 11px;
  }

  .logo span img {
    width: 93px;
  }

  nav {
    gap: 13px;
  }

  nav a {
    font-size: 14px;
  }

  .buttom {
    padding: 8px 8px;
  }

  .buttom {
    margin-left: 32px;

    gap: 0px;
  }

  /* SECTION-01 END  */

  /* SECTION-02 STRAT  */

  .section-02 {
    padding-top: 32px;
  }

  .hero-heading {
    padding-right: 14px;
    padding-top: 13px;
  }

  .hero-heading h1 {
    font-size: 40px;
    padding-bottom: 13px;
  }

  .hero-heading h6 {
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 1.6px;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
    color: var(--text_1-color);
    padding-bottom: 34px;
  }

  .contact {
    gap: 16px;
  }

  .PRACTICE {
    padding: 12px 8px;
  }

  .booking_meta {
    bottom: 23px;
    min-width: 338px;
  }

  /* SECTION-03 Strat  */

  .section-03 {
    padding-top: 99px;
  }

  .law_content {
    grid-template-columns: repeat(2, 2fr);
    gap: 57px;
  }

  .law_image {
    max-width: 318px px;
  }

  .left_side_img {
    margin-top: px;
    display: contents;
  }

  .main_img img {
    width: 250px;
  }

  .text {
    min-width: 198px;
    min-height: 118px;
    bottom: 196px;
    right: 16px;
  }

  .text span h1 {
    font-size: 30px;
  }

  .text p {
    font-size: 14px;
  }

  .about h2 {
    font-size: 30px;
  }

  .p_one {
    padding-bottom: 18px;
  }

  .Meeting {
    gap: 7px;
  }

  /* .section-04 Strat  */

  .section-04 {



    margin-top: 100px;
  }

  .section-04_cards {

    gap: 66px;
  }


  .section-04_card h2 {
    font-size: 30px;

  }

  .section-04_card p {
    font-size: 16px;


  }

  /* SECTION-05 STRAT  */

  .services {


    flex-flow: wrap;

  }

  .about_content {

    align-items: center;
    flex-direction: column-reverse;
    gap: 20px;
  }






}

@media (max-width: 767px) {
  header {
    background-color: var(--bg_8-color);

    height: 101px;
  }

  nav {
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #00000056;
    backdrop-filter: bluer(10px);
    flex-direction: column;
    width: 100%;

    height: 0;
    justify-content: flex-start;
    gap: 37px;
    overflow: hidden;
    transition: 0.5s all ease;
  }

  nav a {
    font-size: 22px;
    text-transform: uppercase;
  }

  .buttom {
    padding: 23px 36px;
    margin-right: 56px;
  }

  nav .src i {
    display: none;
  }

  nav a:nth-child(1) {
    margin-top: 50px;
  }

  label {
    width: 45px;
    height: 30px;
    position: relative;
  }

  label div {
    width: 100%;
    height: 5px;
    background-color: #000;
    position: absolute;
    border: 99px;
    transform: translate(-50%);
    transition: 0.3s;
    transform: scale(1);
    opacity: 1;
  }

  label div:nth-child(1) {
    top: 0;
  }

  label div:nth-child(2) {
    top: 50%;
  }

  label div:nth-child(1) {
    top: 100%;
  }

  input:checked+header nav {
    height: 100vh;
  }

  input:checked+header label div:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }

  input:checked+header label div:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
  }

  input:checked+header label div:nth-child(2) {
    transform: scale(0);
    opacity: 0;
  }

  /* SECTION-01 END  */

  /* SECTION-02 STRAT */

  .hero-content {
    flex-direction: column;
  }

  /* .section-03 */

  .law_content {
    grid-template-columns: repeat(1, 2fr);
    gap: 17px;

    justify-content: center;
  }

  .section-02 {
    background: url(hero/giammarco-boscaro-zeH-ljawHtg-unsplash\ 1.jpg);
    /* background-repeat: ; */
    padding-top: 32px;
    position: relative;
    top: 0%;
  }

  /* .section-03  */
  P {
    font-size: 21px;
  }

  .law_image {
    max-width: 400px;
    min-height: 0px;
    position: relative;
  }

  .meating_btn {
    padding-top: 0px;
  }

  .Meeting {
    gap: 4px;
  }

  .text {
    bottom: -39px;
    right: 43px;
  }


  /* SECTION STRAT_04  */

  .section-04 {

    min-height: 366px;
    background-repeat: repeat;
    padding-top: 50px;
    margin-top: 36px;
  }




  .section-04_cards {

    flex-direction: column;

    gap: 50px;
  }


  .services {
    display: flex;
    padding-top: 0px;
    justify-content: center;
  }



  .Criminal_about p {
    font-size: 14px;

  }







  .Criminal_picture img {
    max-width: 300px;
  }

  .secend_img {

    padding-top: 10px;
    top: 27%;

  }

}