@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200..900;1,200..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Damion&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-family: "Crimson Pro", serif;
  font-family: "Damion", cursive;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --text_1-color: #ffffff;
  --text_2-color: #bbbbbb;
  --text_3-color: #cf9455;
  --text-color: #000000;
  --text_4-color: #888888;
  --text_5-color: #666666;
  --text_6-color: #cccccc;
  --text_12-color: #333a4d;
  --text_14-color: #333a4d;

  --bg_7-color: #cf9455;
  --hover-bg-color: #cf9455;
  --bg_8-color: #282e3f;
  --bg_9-color: #fff;
  --bg_10-color: #000;
  --bg_11-color: #d6d6d6;
  --bg_13-color: #aaaaaa;
  --bg_15-color: #333a4d;
  --bg_16-color: #292f40;
  --bg_17-color: #f8f8f8;

  /* BORDER color  */
  --border-color: #e7e7e7;
}

.container {
  max-width: 1235px;
  padding: 0 30px;
  margin: auto;
}

body {
  background-color: var(--bg_9-color);
  height: 100vh;
}

/* HEADER STRAT  */

.section-01 {
  padding-right: 125px;
  background-color: var(--bg_8-color);
  min-height: 110px;
}

.section-01 .container {
  padding: 0 0;
}

header {
  background-color: #282e3f67;
  backdrop-filter: blur(5px);

  min-width: 100%;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 100;
  padding: 20px 30px;
}

.logo {
  display: flex;
  gap: 15px;
  padding-left: 60px;
}

.logo span h6 {
  font-size: 10px;
  line-height: 1.3em;
  color: var(--text_2-color);
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 28px;
  align-items: center;
  padding-right: 60px;
}

nav a {
  text-decoration: none;
  color: var(--text_1-color);
  font-size: 15px;
  line-height: 1.422em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  transition: 0.3s all;
}

nav a:hover {
  color: var(--text_3-color);
}

input {
  display: none;
}

.buttom {
  margin-left: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.buttom {
  padding: 10px 18px;
  background-color: var(--bg_7-color);
  color: var(--text_1-color);
  font-family: "Crimson Pro", serif;
  font-weight: 400;
  transition: 0.5s all ease;
}

.buttom:hover {
  background-color: transparent;
}

.buttom i {
  padding-right: 13px;
}

nav .src i {
  font-size: 28px;
}

/* HEADER END  */

.section-02 {
  background: url(hero/giammarco-boscaro-zeH-ljawHtg-unsplash\ 1.jpg);
  background-size: cover;
  min-height: 500px;
  background-repeat: no-repeat;
  padding-top: 106px;
}

.hero-content {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.hero-heading {
  max-width: 598px;
  min-height: 288px;
}

.hero-heading h1 {
  font-size: 70px;
  line-height: 113%;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text_1-color);
  padding-bottom: 18px;
}

.hero-heading h6 {
  font-size: 14px;
  line-height: 0.7142857142857143em;
  letter-spacing: 1.6px;
  font-weight: 500;
  font-family: "DM Sans", sans-serif;
  color: var(--text_1-color);
}

.contact {
  padding-top: 37px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.number {
  display: flex;
  align-items: center;
}

.PRACTICE {
  padding: 19px 38px 20px 39px;

  background-color: var(--bg_7-color);
}

.PRACTICE {
  text-decoration: none;
  font-size: 16px;
  line-height: 1.3125em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_1-color);
}

.number {
  display: flex;
  gap: 15px;
}

.number i {
  font-size: 28px;
  color: var(--text_1-color);
}

.number span p {
  font-size: 14px;
  line-height: 1.2857142857142858em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_1-color);
}

.number span a {
  font-size: 20px;
  line-height: 1.3em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_1-color);
  text-decoration: none;
}

.booking_meta {
  padding: 44px 25px 30px 24px;
  background-color: var(--bg_9-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  border: 1px solid var(--bg_11-color);
}

.booking_meta h2 {
  font-size: 22px;
  line-height: 1.3181818181818181em;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: var(--text_12-color);
  padding-bottom: 14px;
}

.booking_meta p {
  font-size: 14px;
  line-height: 140%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_12-color);
}

.frome {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 27px;
}

.frome input {
  display: block;
  border: none;
}

.frome input:hover {
  border: 1px solid var(--border-color);
}

.input_box {
  position: relative;
}

.input_icon {
  position: absolute;
  top: 33%;
  left: 6%;
}

.input_icon i {
  color: var(--bg_13-color);
}

.input_box input {
  width: 310px;

  height: 50px;
  padding-top: 16px;
  padding-left: 49px;
  font-size: 14px;
  color: var(--bg_13-color);
  line-height: 1.2857142857142858em;
  font-weight: 400;
  font-family: "DM Sans", sans-serif;
  background-color: #fafafa;
  padding-bottom: 20px;
}

.meta_buttom {
  display: flex;
}

.meta_buttom a {
  padding: 15px 59px 14px 58px;
  background-color: var(--bg_7-color);
  font-size: 16px;
  line-height: 1.3125em;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: var(--text_1-color);
}

/* .......section-02 End  */

/* SECTION-03 STRAT  */

.section-03 {
  background-color: var(--bg_9-color);
  min-height: 820px;
  padding-top: 100px;
}

.law_content {
  min-height: 570px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 58px;
}

.law_image {
  min-height: 620px;

  position: relative;
}

.text {
  padding: 39px 26px;
  background-color: var(--bg_15-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border: 2px solid var(--bg_7-color);
  position: absolute;
  bottom: 9px;
  right: -37px;
}

.text span h1 {
  font-size: 50px;
  line-height: 1.3em;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: var(--bg_7-color);
}

.text span h6 {
  font-size: 16px;
  line-height: 1.2857142857142858em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_1-color);
}

.text p {
  font-size: 16px;
  line-height: 1.433125em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_1-color);
}

/* <...........> */

.about {
  max-width: 401px;
  min-height: 326px;

  margin-top: 78px;
}

.about h6 {
  font-size: 14px;
  line-height: 3.5714285714285716em;
  letter-spacing: 2.4px;
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
  color: var(--text_3-color);
}

.about h2 {
  font-size: 56px;
  line-height: 0.8333333333333334em;
  font-family: "Crimson Pro", serif;
  font-weight: 600;

  color: var(--text-color);
}

.p_one {
  font-size: 16px;
  line-height: 1.3125em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--bg_13-color);
  padding-bottom: 35px;
}

.about P {
  font-size: 16px;
  line-height: 1.3125em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_5-color);
}

*/ .text_ceo {
  display: flex;
  align-items: center;
  gap: 49px;
  padding-top: 42px;
}

.text_ceo h4 {
  font-size: 30px;
  line-height: 1.6666666666666667em;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text-color);
}

.text_ceo p {
  font-size: 16px;
  line-height: 3.125em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--bg_7-color);
}

.text_ceo h5 {
  font-size: 30px;
  line-height: 1.6666666666666667em;
  font-family: "Damion", cursive;
  font-weight: 500;
  color: var(--bg_10-color);
}

/* <..............> */

.left_side_img {
  margin-top: 60px;
}

.calender {
  padding-bottom: 30px;
}

.Meeting {
  max-width: 300px;

  padding: 21px 14px 25px 14px;
  background-color: var(--bg_16-color);
  display: flex;

  flex-direction: column;
}

.Meeting span {
  display: flex;
  gap: 34px;
  padding-bottom: 15px;
}

.Meeting span h6 {
  font-size: 16px;
  line-height: 1.3125em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_1-color);
}

.Meeting span p {
  font-size: 12px;
  line-height: 1.3333333333333333em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_6-color);
}

.clock {
  padding-bottom: 17px;
}

.Meeting a {
  color: var(--text_1-color);
  font-size: 14px;
  line-height: 1.8em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

.meating_btn {
  display: flex;
  align-items: center;
  gap: 15px;
  padding-top: 25px;
}

.meating_btn a {
  font-size: 13px;
  line-height: 1.3076923076923077em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  padding: 6px 19px;
  background-color: var(--bg_7-color);
  transition: all 0.5s ease;
}

.meating_btn .shedul a {
  padding: 6px 19px;
  color: var(--bg_15-color);
  background-color: var(--bg_9-color);
}

/* SECTION-03 END  */

/* SECTION-04 STRAT  */

.section-04 {
  background-image: url( section-4/BG\ \(2\).jpg);
  min-height: 366px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.section-04_cards {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 170px;
}

.section-04_card h2 {
  font-size: 50px;
  line-height: 1.12em;
  font-family: "Crimson Pro", serif;
  font-weight: 700;
  color: var(--text_1-color);

  padding-bottom: 4px;
}

.section-04_card p {
  font-size: 18px;
  line-height: 1.2777777777777777em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_1-color);
}

/* SECTION-5 STRAT  */
.section-05 {
  background-color: var(--bg_9-color);
  min-height: 1094px;
  padding-top: 108px;
}

.practice_heading h6 {
  font-size: 18px;
  line-height: 1.2857142857142858em;
  letter-spacing: 15%;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: var(--text_3-color);
  text-align: center;
}

.practice_heading h2 {
  font-size: 60px;
  line-height: 1em;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  text-align: center;
  padding-bottom: 34px;
}

.services {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.services_card {
  min-width: 234px;
  min-height: 200px;
  border: var(--bg_11-color);
  background-color: var(--bg_17-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
}

.services_card p {
  font-size: 18px;
  line-height: 1em;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  text-align: center;
}

.services_card:hover {
  background-color: var(--bg_8-color);
  color: var(--text_1-color);
}

.services_card h3 {
  font-size: 24px;
  line-height: 1.125em;
  font-family: "Crimson Pro", serif;
  font-weight: 600;

  padding-top: 14px;
}

.about_content {
  display: flex;
  gap: 64px;
}

.Criminal_picture {
  position: relative;
}

.secend_img {
  position: absolute;
  left: -42px;

  top: 50%;
  background: #fff;

  padding: 7px 5px;
}

.about_content {
  padding-top: 52px;
}

.Criminal_about h2 {
  font-size: 40px;
  line-height: 1.1em;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--bg_10-color);
}

.Criminal_about p {
  font-size: 16px;
  line-height: 1.3757584em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_5-color);
  padding-top: 28px;
}

.Criminal_about ul {
  padding-top: 27px;
  padding-bottom: 39px;
  padding-left: 20px;
}

.Criminal_about ul li {
  font-size: 16px;
  line-height: 1.3125em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--bg_10-color);
  padding-top: 9px;
}

.btn_about a {
  color: var(--text_1-color);
  background-color: var(--bg_7-color);
  padding: 15px 24px 14px 24px;
  text-decoration: none;
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
}

/* SECTION-05   END  */

/* SECTION-06 STRAT  */

.section-06 .container {
  max-width: 1230px;
  padding: 0 30px;
  margin: auto;
  overflow: hidden;
}

.section-06 {
  padding: 120px 0;
}

.section-06 .testimonials_content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 30px;
}

.section-06 .testimonials_content .text_part {
  max-width: 371px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.section-06 .testimonials_content .slider_part {
  max-width: 770px;
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
  position: relative;
}

.section-06 .testimonials_content .text_part h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 15%;
  font-weight: 700;
  color: #cf9455;
}

.section-06 .testimonials_content .text_part h2 {
  font-family: "Crimson Pro", serif;
  font-size: 60px;
  line-height: 110%;
  font-weight: 600;
  color: #000000;
}

.section-06 .testimonials_content .text_part p {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;
  margin-top: 24px;
  margin-bottom: 40px;
}

.section-06 .testimonials_content .text_part .btn {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
  padding: 15px 28px 14px 28px;
  background-color: #cf9455;
}

/* SECTION-06 end  */

.section-07 {
  min-height: 1094px;
  background-color: var(--bg_9-color);
}

.sect_07_heading h6 {
  font-size: 18px;
  line-height: 1.2857142857142858em;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: var(--text_3-color);
  text-align: center;
}

.sect_07_heading h2 {
  font-size: 60px;
  line-height: 1.2857142857142858em;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
  padding-bottom: 50px;
}

.text_icon a {
  color: #000;
}

.sect_07_main_cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.sect_07_card {
  position: relative;
}

.text_icon {
  position: absolute;
  bottom: 24px;
  padding-left: 19px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.text_icon span p {
  font-size: 14px;
  line-height: 1.2857142857142858em;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_3-color);
}

.text_icon span h6 {
  font-size: 33px;
  line-height: 1.0285714285714285em;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text_1-color);
}

.text_icon a {
  color: var(--bg_9-color);
  background-color: var(--bg_15-color);
  background: transparent;
  padding: 12.5px 18px;
  border: 1px solid var(--bg_9-color);
  border-radius: 50px;
  transition: 0.5s ease;
}

.text_icon a:hover {
  background-color: var(--bg_7-color);
  border: none;
}

/* SECTION-07 END  */
/* SECTION-08 STRAT  */
.section-08 {
  min-height: 810px;
  padding-top: 118px;
  overflow: hidden;
}

.attor_heading h6 {
  font-size: 18px;
  line-height: 1.2857142857142858em;
  letter-spacing: 15%;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: var(--text_3-color);
  text-align: center;
}

.attor_heading h2 {
  font-size: 60px;
  line-height: 110%;

  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: var(--text-color);
  text-align: center;
}

.attor_cards {
  display: flex;
  gap: 5px;
  position: relative;
  padding-top: 50px;
}

.bio {
  position: absolute;
  bottom: 22px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.bio h2 {
  font-size: 25px;
  line-height: 110%;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text_1-color);
}

.bio p {
  font-size: 14px;
  line-height: 110%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_3-color);
  padding-bottom: 30px;
}

.socile-icon {
  background-color: var(--bg_7-color);

  padding: 7.5px 28.5px;
  display: flex;
  gap: 20px;
}

.socile-icon a {
  color: var(--text_1-color);
}

/* SECTION-08 END  */

/* SECTION-09 STRAT  */

.section-09 {
  min-height: 655px;
  background-color: var(--bg_9-color);
}

.article_main {
  padding-top: 37px;
}

.article_heading h3 {
  font-size: 14px;
  line-height: 1.2857142857142858em;
  letter-spacing: 15%;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: var(--text_3-color);
  text-align: center;
}

.article_heading h6 {
  font-size: 60px;
  line-height: 110%;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text-color);
  text-align: center;
}

.article_main {
  display: flex;
  gap: 30px;
}

.article_card h6 {
  font-size: 13px;
  line-height: 110%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_3-color);
  padding-top: 13px;
  padding-bottom: 11px;
}

.article_card p {
  font-size: 25px;
  line-height: 110%;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text-color);
}

.butttom_artcile {
  display: inline-block;
  display: flex;
  justify-content: center;
  padding-top: 32px;
}

.butttom_artcile a {
  padding: 12.5px 20.5px;
  background-color: var(--bg_7-color);
  color: var(--text_1-color);
  font-size: 14px;
  line-height: 1.8em;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  text-decoration: none;
}

/* SECTION-09 END  */

footer {
  background-image: url(footer/BG.jpg);
  min-height: 516px;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100px;
}

.footer_content {
  display: flex;
  gap: 20px;
}

.logo_lawmate {
  display: flex;
  gap: 6px;
  align-items: center;
}

.logo_lawmate h6 {
  font-size: 13px;
  line-height: 1.3em;
  letter-spacing: 3%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_2-color);
  padding-bottom: 21px;
}

.lawmate p {
  font-size: 16px;
  line-height: 130%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_6-color);
  padding-bottom: 25px;
}

.meadia_icon {
  display: flex;
  gap: 20px;
}

.meadia_icon a {
  color: var(--text_1-color);
  background-color: var(--bg_10-color);
  background-color: transparent;
  padding: 14px 17px 13px 16.63px;
  border: 1px solid #fff;
  border-radius: 50%;
 
}

 

.lawmate h5 {
  font-size: 20px;
  line-height: 110%;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text_3-color);
  padding-top: 19px;
  padding-bottom: 12px;
}

.Practice_Area {
  padding-left: 40px;
}

.Practice_Area h2 {
  font-size: 30px;
  line-height: 110%;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text_1-color);
}

.Practice_Area ul li {
  font-size: 16px;
  line-height: 74%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_6-color);
  padding-top: 14px;
}

.contact_us {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-left: 39px;
}

.contact_us h2 {
  font-size: 30px;
  line-height: 110%;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text_1-color);
  padding-right: 57px;
}

.number {
  display: flex;
  align-items: center;
  gap: 14px;
  padding-right: 60px;
}

.contact_us i {
  font-size: 16px;
  color: var(--bg_7-color);
}

.contact_us p {
  font-size: 16px;
  line-height: 130%;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: var(--text_6-color);
}

.Email {
  padding-right: 20px;
  gap: 14px;
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
}

.loct {
  display: flex;
  align-items: center;
  gap: 14px;
}

.newsletter {
  padding-left: 39px;
}

.newsletter h2 {
  font-size: 30px;
  line-height: 110%;
  font-family: "Crimson Pro", serif;
  font-weight: 600;
  color: var(--text_1-color);
  padding-bottom: 29px;
}

.newsletter p {
  font-size: 16px;
  line-height: 130%;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  color: var(--text_6-color);
  padding-bottom: 24px;
}

.placeholder {
  font-size: 16px;
  font-family: "DM Sans", sans-serif;
  background-color: #88888860;
  color: var(--bg_17-color);
}

.btn {
  margin-top: 15px;
  font-size: 14px;
  line-height: 130%;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  color: var(--text_1-color);

  background-color: var(--bg_7-color);
  transition: all 0.5s ease;
}

.newsletter input {
  display: block;
  padding: 12px 48px;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid var(--bg_11-color);
}

.border {
  border: 1px solid #fff;
}

.copyright {
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright p {
  font-size: 22px;
  font-family: "DM Sans";
  font-weight: 400;
  color: #ffffff87;
}

/* %---------% */

@media (max-width: 1024px) {
  header {
    gap: 6px;
    padding: 37px 11px;
  }

  .logo span img {
    width: 93px;
  }

  .logo {
    display: flex;
    gap: 15px;
    padding-left: 0px;
    margin-top: 18px;
  }

  nav {
    gap: 13px;
    padding-right: 0px;
  }

  nav a {
    font-size: 14px;
  }

  .buttom {
    padding: 8px 8px;
  }

  .buttom {
    margin-left: 32px;

    gap: 0px;
  }

  /* SECTION-01 END  */

  /* SECTION-02 STRAT  */

  .section-02 {
    /* padding-top: 32px; */
    padding-top: 80px;
  }

  .hero-heading {
    max-width: 366px;
  }

  .hero-heading h1 {
    font-size: 44px;
    padding-bottom: 13px;
  }

  .hero-heading h6 {
    font-size: 14px;
    line-height: 1.5em;
    letter-spacing: 1.6px;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
    color: var(--text_1-color);
    padding-bottom: 34px;
  }

  .contact {
    display: unset;
  }

  .hero {
    padding-bottom: 37px;
  }

  .PRACTICE {
    font-size: 16px;
  }

  .booking_meta {
    position: unset;
  }

  /* SECTION-03 Strat  */

  .section-03 {
    padding-top: 80px;
  }

  .law_content {
    grid-template-columns: repeat(2, 2fr);
    gap: 39px 29px;
  }

  .law_image {
    min-height: 0px;
    position: relative;
  }

  .text {
    bottom: 32px;
    right: 60px;
  }

  .left_side_img {
    display: contents;
  }

  .about {
    margin-top: unset;
  }

  .main_img img {
    width: 250px;
  }

  .about h2 {
    font-size: 48px;
  }

  .about P {
    font-size: 18px;
    line-height: 1.3125em;
    font-family: "DM Sans", sans-serif;
    font-weight: 400;
    color: var(--text_5-color);
  }

  .text span h1 {
    font-size: 30px;
  }

  .text p {
    font-size: 14px;
  }

  .p_one {
    padding-bottom: 18px;
    padding-top: 6px;
  }

  .text_ceo {
    gap: 49px;
    padding-top: 25px;
    display: flex;
  }

  .calender {
    padding-bottom: unset;
  }

  .Meeting {
    width: 300px;
    height: 188px;
    padding: 18px 14px 25px 14px;
    background-color: var(--bg_16-color);
    display: flex;
    flex-direction: column;
  }

  /* .section-04 Strat  */

  .section-04 {
    margin-top: 80px;
  }

  .section-04_cards {
    gap: 66px;
  }

  .section-04_card h2 {
    font-size: 30px;
  }

  .section-04_card p {
    font-size: 16px;
  }

  /* SECTION-05 STRAT  */

  .section-05 {
    padding-top: 80px;
  }

  .practice_heading h6 {
    font-size: 18px;
  }

  .practice_heading h2 {
    font-size: 48px;
  }

  .services {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 10px 13px;
    padding-top: 35px;
  }

  .about_content {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 64px;
  }

  .Criminal_about {
    padding-left: 64px;
  }

  /* SEction-06 strat  */
  .textimonial_heading h2 {
    font-size: 30px;
  }

  .textimonial_card {
    padding-top: 40px;
  }

  /* .section-07 STRAt  */

  .sect_07_heading h6 {
    font-size: 18px;
  }

  .sect_07_heading h2 {
    font-size: 48px;
  }

  .sect_07_main_cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }

  .sect_07_card .card_img img {
    max-width: 337px;
  }

  .text_icon {
    gap: 32px;
  }

  /* SECTION-08 strat */
  .section-08 {
    padding-top: 80px;
  }

  .attor_heading h6 {
    font-size: 18px;
  }

  .attor_heading h2 {
    font-size: 48px;
  }

  .attor_cards {
    display: flex;
    gap: 0px;

    /* END  */

    /* article sTRAt  */

    .section-09 {
      min-height: 536px;
      padding-top: 80px;
    }

    .article_heading h6 {
      font-size: 48px;
    }
  }

  .article_card img {
    max-width: 240px;
  }

  .article_card h6 {
    font-size: 17px;
  }

  .article_card p {
    font-size: 18px;
  }

  /* FOOOTER STRAT  */
  footer {
    padding-top: 80px;
  }

  .footer_content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .newsletter {
    padding-left: 105px;
  }

  .copyright p {
    font-size: 18px;
    font-family: "DM Sans";
    font-weight: 400;
    color: #ffffff87;
  }
}

/* %--------- */

@media (max-width: 767px) {
  header {
    background-color: var(--bg_8-color);

    height: 101px;
  }

  nav {
    position: absolute;
    top: 100px;
    left: 0;
    background-color: #00000056;
    backdrop-filter: bluer(10px);
    flex-direction: column;
    width: 100%;

    height: 0;
    justify-content: flex-start;
    gap: 37px;
    overflow: hidden;
    transition: 0.5s all ease;
  }

  nav a {
    font-size: 22px;
    text-transform: uppercase;
  }

  .buttom {
    padding: 23px 36px;
    margin-right: 56px;
  }

  nav .src i {
    display: none;
  }

  nav a:nth-child(1) {
    margin-top: 50px;
  }

  label {
    width: 45px;
    height: 30px;
    position: relative;
  }

  label div {
    width: 100%;
    height: 5px;
    background-color: #000;
    position: absolute;
    border: 99px;
    transform: translate(-50%);
    transition: 0.3s;
    transform: scale(1);
    opacity: 1;
  }

  label div:nth-child(1) {
    top: 0;
  }

  label div:nth-child(2) {
    top: 50%;
  }

  label div:nth-child(1) {
    top: 100%;
  }

  input:checked+header nav {
    height: 100vh;
  }

  input:checked+header label div:nth-child(1) {
    transform: rotate(45deg);
    top: 50%;
  }

  input:checked+header label div:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
  }

  input:checked+header label div:nth-child(2) {
    transform: scale(0);
    opacity: 0;
  }

  /* SECTION-01 END  */

  /* SECTION-02 STRAT */

  .section-02 {
    padding-top: 78px;
  }

  .hero-content {
    flex-direction: column;
    align-items: center;
  }

  .hero-heading h1 {
    font-size: 28px;
  }

  .hero-heading h6 {
    font-size: 14px;
  }

  .hero-heading {
    max-width: 334px;
  }

  .PRACTICE {
    font-size: 14px;

    padding: 16px 35px 17px 36px;
  }

  .contact {
    gap: 16px;
    flex-direction: column-reverse;
    align-items: center;
    padding-right: 74px;
  }

  .number i {
    font-size: 21px;
  }

  .number span a {
    font-size: 17px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    padding-top: 27px;
  }

  .hero {
    margin-right: 123px;
  }

  .booking_meta {
    padding: 33px 29px 30px 24px;
    position: unset;
  }

  .meta_buttom a {
    padding: 16px 75px;
    font-size: 13px;
  }

  /* SECTION-02  END  */

  /* SECTION-03 STRAT  */

  .section-03 {
    padding-top: 45px;
  }

  .law_content {
    grid-template-columns: repeat(1, 2fr);
    gap: 15px;
    justify-items: center;
  }

  .about {
    margin-top: 30px;
  }

  .about h2 {
    font-size: 32px;
  }

  .about P {
    font-size: 16px;
  }

  .law_image {
    max-width: 400px;
    min-height: 0px;
    position: relative;
  }

  .meating_btn {
    padding-top: 0px;
  }

  .Meeting {
    gap: 4px;
  }

  .text {
    position: unset;
  }

  .practice_heading h2 {
    font-size: 37px;
    padding-bottom: 0px;
  }

  /* SECTION STRAT_04  */

  .section-04 {
    min-height: 366px;
    background-repeat: repeat;
    padding-top: 50px;
    margin-top: 36px;
  }

  .section-04_cards {
    flex-direction: column;

    gap: 50px;
  }

  /* SECTION-05 STRAT  */
  .services {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    justify-items: center;
  }

  .practice_heading h6 {
    font-size: 14px;
  }

  .practice_heading h2 {
    font-size: 28px;
    padding-bottom: 0px;
    padding-top: 10px;
  }

  .Criminal_about p {
    font-size: 14px;
  }

  .Criminal_picture img {
    max-width: 300px;
  }

  .secend_img {
    padding-top: 10px;
    top: 27%;
  }

  .Criminal_about h2 {
    font-size: 28px;
    line-height: 1.1em;
    font-family: "Crimson Pro", serif;
    font-weight: 600;
    color: var(--bg_10-color);
  }

  /* SECTION-06 STRAT  */

  .textimonial_heading h2 {
    font-size: 32px;
    padding-bottom: 10px;
  }

  .textimonial_heading p {
    font-size: 19px;
  }

  /* SECTION-07 STRAT  */

  .sect_07_main_cards {
    grid-template-columns: repeat(1, 1fr);

    justify-items: center;
    align-content: center;
  }

  .sect_07_heading h6 {
    font-size: 16px;
  }

  .sect_07_heading h2 {
    font-size: 28px;
  }

  /* SECTION-08 STARAT  */

  .section-08 {
    padding-top: 45px;
    min-height: 0px;
  }

  .attor_heading h6 {
    font-size: 16px;
  }

  .attor_heading h2 {
    font-size: 28px;
  }

  /* END  */

  /* section-9 STRAT  */
  .section-09 {
    min-height: 655px;
    background-color: var(--bg_9-color);
  }

  .article_heading h6 {
    font-size: 28px;
  }

  .article_main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .article_card img {
    max-width: 341px;
  }

  .article_card h5 {
    font-size: 15px;
  }

  /* FOOTER STRAT  */

  footer {
    margin-top: 20px;
  }

  .footer_content {
    flex-direction: column;

    align-items: center;
  }

  .newsletter {
    padding-left: 0px;
    padding-bottom: 20px;
  }

  .lawmate {
    padding-left: 71px;
  }

  .Practice_Area {
    padding-right: 100px;
  }

  .contact_us {
    gap: 16px;
    padding-right: 100px;
  }

  .copyright {
    padding-top: 15px;
    display: flex;

    gap: 20px;
    align-items: center;
  }

  .copyright p {
    font-size: 14px;
    font-family: "DM Sans";
    font-weight: 400;
    color: #ffffff87;
  }
}